:root{
  --lineColor2 : #7ED321;
  --lineColor: #4775FF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.skill-button {
  background-color: white;
  border-style: none;
  width: 100px;
  transition-duration: 0.2s;
}

.skill-button:focus{
  outline: none
}

.skill-name {
  display: grid;
  text-align: left;
  font-size: 15px;
  font-style: normal;
  font-family: 'Helvetica Neue', sans-serif;
}

.skill-line {
  background-color: var(--lineColor2);
  height: 3px;
}

.skill-rejected {
  opacity: 0.4;
}

.skill-rejected:hover {
  opacity: 1;
}

.skill-rejected:focus{
  opacity: 0.4;
}

.resume{
  display: grid;
  grid-template-columns: 16% auto 16%;
  margin-bottom: 2cm;
  /*grid-template-rows: 80px calc(100vh - 80px) ;*/
}

.header{
  margin-left: 1cm;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif;
  padding-top: 20px;
}

.grid-resume-header{
  grid-column: 1/3;
  grid-row: 1/2;

}

.resume-feed{
  grid-column: 2/3;
  grid-row:2/3;
  margin: 30px auto auto auto;
  overflow: scroll;
}

.resume-filters{
  grid-column: 1/2;
  margin-top:2.5cm;
  margin-left: 1cm;
}

.language{
  grid-column: 2/3;
  margin: auto;
  font-size: 13px;
}

.post{
  margin: 20px auto 20px auto;
  max-width: 550px;
  margin: 20px auto 20px auto;
}

.Post-graphics{
    margin: auto;
    display: block;
}

.pgrid{
  display: grid;
  grid-template-columns: 30% 70%;
}

.post-title{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;
}

.post-place{
    font-size: 15px;
    font-style: italic;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

.post-description{
    font-size: 15px;
    font-style: normal;
    font-family: 'Helvetica Neue', sans-serif;

}

.ResumeLine{
    width: 230px;
    height: 5px;
    background-color: var(--lineColor);
}

.resumeFinalDraw{
    width: 600px;
    margin: 40px auto auto auto;
    display: block;
}

.PostLine{
    height: 1px;
    background-color: black;
    width: 480px;
    margin: 20px auto 20px auto;
}

.noColor{
  background-color: white;
}

.inOutFeed-enter {
  max-height: 0px;
  opacity: 0.01;
}

.inOutFeed-enter.inOutFeed-enter-active {
  opacity: 1;
  max-height: 300px;
  transition: max-height 400ms ease-in, opacity 600ms ease-in;
}

.inOutFeed-leave {
  max-height: 300px;
  opacity: 1;
}

.inOutFeed-leave.inOutFeed-leave-active {
  max-height: 0px;
  opacity: 0.001;
  transition: 500ms ease-in;

}

.lan-button{
  background-color: inherit;
  border-style: none;
  font-family: 'Helvetica Neue', sans-serif;
  opacity: 1;
  color: inherit;
}

.falseB{
  opacity: 0.5;
}

.picture{
    /*border-style: solid;
    border-width: 1em;
    border-color:black;
    height: 300px;
    text-align: center;*/
    display: block;
    width: 95%;
    margin-left: auto;
    margin: auto;
    margin-right: auto;
    -webkit-clip-path: circle(45% at center);
    clip-path: circle(45% at center);
    padding: 3%;
  }

  .aboutMe{
    margin: auto;
    max-width: 710px;
    display:grid;
    grid-template-columns: 210px  auto;
  }

  .abstract{
    margin: 1cm;
    font-size: 15px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
    display: block;
  }

  .abstract::first-letter{
  font-size: 2rem;
  -webkit-initial-letter: 3;
  }

  .gridTitle{
    display: grid;
    grid-template-columns: 80% 20%;
  }

  .mail{
    margin-left:  1cm;
    font-family: 'Helvetica Neue', sans-serif;
    color: inherit;
  }

  .greyW{
    background-color: #3E4244;
    color: #FFFF;
  }

  .mail a{
    color: inherit;
  }

  @media only screen and (max-width: 650px) {
    .aboutMe{

      grid-template-columns: 100%;
      /*grid-template-rows: 380px auto;*/
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .resume{
      grid-template-columns: 100%;
    }

    .resume-feed{
      grid-column: 1/2;
      grid-row: 3/4;
    }

    .post{
      max-width: 90%;
    }

    .resumeFinalDraw{
      max-width: 80%;
    }

    .PostLine{
      width: 80%;
      max-width: 480px;
    }

    .techStack{
      display: grid;
      grid-template-columns: 104px 104px 104px;
    }

    .resume-filters{
      margin: 1cm auto 0 auto;
    }

    .picture{
      max-width: 350px;
    }

    .header{
      margin-left: 15px;
    }

    .language{
      margin-top: 20px;
    }

    .mail{
      margin-left: 15px;
    }

    .pgrid{
      grid-template-columns: 100%;
    }

    .pgrid .picture{
      grid-row: 2/3;
    }
  }

@media (hover: none) {
  .skill-rejected:hover {
    opacity: 0.4;
  }
}

@media only screen and (max-width:1000px) and (min-width:651px){
  .resume{
    grid-template-columns: 160px auto;
  }

  .resumeFinalDraw{
    width: 90%;
  }

  .PostLine{
    width: 80%;
    max-width: 480px;
  }

  .post{
    width: 90%;
    max-width: 550px;
  }

  .header{
    margin-left: 0.5cm;
  }

  .mail{
    margin-left: 0.5cm;
  }

  .resume-filters {
    margin-left: 0.5cm;
  }
}
